<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
               
                <form class="login-form" action="/login" method="POST" >
                <h1>Login</h1>
                    <div class="form-control">
                        <label for="email">E-mail</label>
                        <input 
                        class="<%=validationError.find(e=>e.path==='email') ? 'invalid':''%>"

                        type="email"
                         name="email" 
                         id="email" 
                         value="<%=oldInput.email%>">
                    </div>
                    <div class="form-control">
                        <label for="Password">Password</label>
                        <input 
                        class="<%=validationError.find(e=>e.path==='password') ? 'invalid':''%>"

                        type="password" 
                        name="password" 
                        id="password" 
                        value="<%=oldInput.password%>">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">

                    </div>

                    <%if(errorMessage){%>
                        <div class="user-message user-message--error "><%=errorMessage%></div>
                        <%}%>
                    <button class="btn" type="submit">Login</button>
                    <br>
                    <a href="/reset"> click here to reset password</a>
                </form>
                
            </main>
            <%- include('../includes/end.ejs') %>